@use "./variables" as *;
@use "./mixins" as *;

.cartApp {
    width: 375px;
    height: 90vh;
    background-color: white;
    position: fixed;
    overflow-y: scroll;
    top: 10vh;
    right: -30%;
    z-index: 20;
    transition: 0.4s ease-in;
    font-size: 0.9rem;
    padding: 0 1rem 1rem 1rem;
    border-top: 2px solid $lightgreen;
  }

  .cartApp.activated {
    right: 0;
  }

  .closeCart {
    font-size: 25px;
    cursor: pointer;
    padding: 0.5rem 0;
    color: rgb(157, 157, 157);
  }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.297);
  display: none;
  transition: 0.4s;
  z-index: 4;
}

.overlay.activated {
  display: block;
}

.emptyCart {
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  p {
    padding: 1rem 0;
  }
  a {
    background-color: $lightgreen;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    transform: background-color 0.5s;
    cursor: pointer;
    &:hover {
      background-color: $black;
    }
  }
}

.fullCart {
  display: none;
  .yourCart {
    background-color: $lightgrey;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin-bottom: 0.5rem;
  }
  .clearTheCart {
    text-transform: uppercase;
    font-size: 0.75rem;
    margin: 0.5rem 0;
    color:$lightgreen;
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
  }
  .checkoutContainer {
    width: calc(375px - 3rem);
    border-top: 1px solid $lightgrey;
    p {
      padding: 1rem 0;
      text-align: right;
      font-weight: 500;
    }
    .checkoutBtn {
      all: revert;
      background-color: $lightgreen;
      color: $white;
      border: none;
      width: 100%;
      padding: 1rem 0;
      text-transform: uppercase;
      font-family: $primaryFont;
      font-size: 1rem;
      letter-spacing: 0.15rem;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        background-color: $black;
      }
    }
  }
}

.productInCartContainer {
  background-color: white;
  padding: 1rem;
  display: flex;
  border: 1px solid $lightgrey;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.productName {
  color: black;
}

.productInfoContainer {
  padding-left: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productImage {
  width: 30%;
}

.productTextContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.productBtnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.qtyContainer {
  display: flex;
  width: 45%;
}

.productQty {
  padding: 0 1rem;
  width: 2rem;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
}

.minusBtn,
.plusBtn {
  all: revert;
  background-color: $lightgreen;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 15px;
  transition: all 0.5s;
  &:hover {
    background-color: $black;
  }
}

.trashItem {
  width: 50%;
  text-align: right;
  font-size: 0.8rem;
  color: $black;
  cursor: pointer;
}

.totalItemsInCart {
  position: relative;
}

.totalItems {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 15px;
  background-color: $lightgreen;
  position: absolute;
  top: -45px;
  right: -5px;
  color: white;
}
