@use "./variables" as *;
@use "./mixins" as *;

.reviewCart {
    @include colors($white, $black, none);
    @include boxModel(400px, 90vh, 0rem 1rem 1rem 1rem, none, 0 0 10px 10px, none);
    overflow-y: scroll;
    position: fixed;
    top: 10vh;
    left: 100%;
    z-index: 98;
    font-size: 0.8rem;
    transition: 0.5s ease-in-out;
}

.reviewCart.activated {
    left: calc(100% - 400px);
}

.cartTop {
    width: 100%;
    text-align: right;
}

.reviewCart .yourCart {
    @include colors($lightgreen, $white, none);
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.yourCart {
    height: auto;
}

.closeCart {
    font-size: 1.25rem;
    color: grey;
    padding: 0.25rem 0;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(205, 205, 205, 0.695);
    display: none;
    transition: 0.4s;
    z-index: 4;
  }
  
  .overlay.activated {
    display: block;
  }

.orderInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .cartItemName {
        width: 45%;
    }
}

.cartItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $lightgrey;
    border-bottom: 1px solid $lightgrey;
    padding: 0.5rem 0;
    .cartItemProduct {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        img {
            width: 25%;
        }
        .productName {
            @include boxModel(55%, 100%, 0 0.5rem, none, none, none);
            text-align: left;
        }
        .productPrice {
            width: 20%;
            text-align: right;
        }
    }
}

.cartItemControls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.5rem;
    font-size: 0.7rem;
    .cartItemRemove {
        display: flex;
        align-items: center;
        cursor: pointer;
        p {
            padding: 0 0.5rem;
        }
    }
    .cartItemQuantity {
        display: flex;
        align-items:center;
        border: 1px solid white;
        p {
            width: 2rem;
            text-align: center;
        }
        button {
            all: revert;
            appearance: none;
            background: none;
            @include colors($black, $white, none);
            @include boxModel(1.2rem, 1.2rem, 0 0.25rem, none, 0.6rem, none);
        }
    }
}

.cartMessages {
    margin-top: 4rem;
    text-align: center;
}

.noItemsInCart {
    padding: 1rem;
    font-size: 1rem;
}

.continueShopping {
    color: $lightgreen;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-family: $primaryFont;
    @include textStyling(0.05rem, auto, uppercase, underline);
}

.moneyTings {
    width: 100%;
    border-top: 1px solid $lightgrey;
}

.subTotal,
.tax,
.finalTotal {
    text-align: right;
    padding: 1rem 0 0 0;
}

.subTotal {
    padding-top: 2rem;
}
.tax {
    padding-bottom: 1rem; 
}

.finalTotal {
    padding-bottom: 2rem;
    border-top: 1px solid $black;
    font-weight: 700;
}

.checkoutBtn {
    all: revert;
    bottom: 1rem;
    text-transform: uppercase;
    @include colors($black, $white, none);
    @include boxModel(100%, auto, 1.4rem 0, none, none, none);
}