@use "./variables" as *;
@use "./mixins" as *;
//popup modal

.modalContainer {
    background-color: $white;
    @include boxModel(450px, 550px, 1rem, none, 6px, none);
    font-size: 0.8rem;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
    box-shadow: $boxShadow;
    img {
        width: 30%;
    }
    .closeModal {
        align-self: flex-end;
        font-size: 1.5rem;
        color: darkgray;
        transition: all 0.25s;
        cursor: pointer;
        &:hover {
            color: $lightgreen;
        }
    }
    h2 {
        padding: 1.5rem 0;
        color: $black;
    }
    form {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        input[type=text] {
            padding: 1rem;
            outline: none;
            &:focus {
                border: 2px solid $lightgreen;
            }
        }
        button {
            all: revert;
            @include colors($lightgreen, $white, none);
            border: none;
            padding: 1rem;
            margin-top: 0.75rem;
            text-transform: uppercase;
            font-size: 1.15rem;
            letter-spacing: 0.2rem;
            transition: all 0.25s;
            cursor: pointer;
            &:hover {
                background-color: $black;
            }
       }
    }
    .disclaimer {
        color: grey;
        font-size: 0.7rem;
        padding-bottom: 1rem;
    }
    .modalLinks {
        display: flex;
        width: 90%;
        justify-content: space-between;
        a {
            color: grey;
            font-size: 0.6rem;
            text-decoration: underline;
        }
    }
}

.modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(205, 205, 205, 0.695);
        display: none;
        transition: 0.4s;
        z-index: 1000;
}

.modalContainerAfterSubmit {
    background-color: $white;
    @include boxModel(450px, 550px, 1rem, none, 6px, none);
    font-size: 0.8rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
    box-shadow: $boxShadow;
    img {
        width: 30%;
    }
    .closeModal2 {
        width: 100%;
        text-align: right;
        font-size: 1.5rem;
        color: darkgray;
        transition: all 0.25s;
        cursor: pointer;
        &:hover {
            color: $lightgreen;
        }
    }
    .modalAfterSubmitText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 50px auto 0 auto;
        p {
            margin: 0 auto;
            text-align: center;
            padding: 0.75rem 0;
            font-size: 0.9rem;
            width: 100%;
        }
        .line1 {
            color: $lightgreen;
            font-family: $secondaryFont;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 500;
            border-top: 3px dotted grey;
            padding-top: 2rem;
        }
        .line3 span {
            font-weight: 700;
            text-decoration: underline;
        }
    }
    .shopNowModalBtn {
        width: 100%;
        button {
            all: revert;
            width: 100%;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            padding: 1rem 0;
            margin-top: 1.75rem;
            font-size: 1.15rem;
            color: $white;
            background-color: $lightgreen;
            letter-spacing: 0.15rem;
            border: none;
            cursor: pointer;
            &:hover {
                background-color: $black;
            }
        }
    }

        .modalLinks {
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin: 0 auto;
            align-items: flex-end;
            margin-top: 40px;
            a {
                color: grey;
                font-size: 0.6rem;
                text-decoration: underline;
            }
        }
    }

@media (max-width: 480px) {

    .modalContainer,
    .modalContainerAfterSubmit {
        width: 90%;
        height: auto;
    }
}



