//variables//

    //fonts
    $primaryFont: 'Barlow', sans-serif; 
    $secondaryFont: 'Lora', serif;

    //colors
    $plantGreen: #207200;
    $white: #fff;
    $black: #1A2428;
    $lightgrey: #EAEAEA;
    $lightgreen: #5EA85E;
    $boxShadow: 0 0 15px (rgba(189, 189, 189, 0.4));
    $borderInput: 1.5px solid $lightgrey;