@use "./partials/setup";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/reuseableCode";
@use "./partials/contact";
@use "./partials/mediaQueries";

//nagivation section//
header nav {
    height: 10vh;
    position: relative;
    @include colors($white, 0, 0 0 8px rgba(0, 0, 0, 0.25));
    .wrapper ul {
        text-transform: uppercase;
        font-weight: 600;      
        li .svg {
                all: revert;
                width: 1.75rem;
            }
        }
        .navHover {
            margin-right: 2rem;
            position: relative;
            a:hover,
            a:focus {
                color: $plantGreen;
            }
            a.active {
                color: $lightgreen;
                font-weight: 700;
            }
        }
        .navHover::after {
            content: '';
            height: 5px;
            width: 100%;
            background-color: $lightgreen;
            position: absolute;
            left: 0;
            bottom: -1rem; 
            opacity: 0;
            transition: all 0.25s;
            pointer-events: none;
        }
        .navHover:hover::after {
            opacity: 1;
        }
    }

    .hamburger {
        all: revert;
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background-color: white;
        outline: none;
        border: none;
    }

    .hamburger:hover {
        background-color: white;
    }

    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: black;
        margin: 6px 0px;
        transition: 0.4s;
    }

    .hamburger.activated:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.activated:after {
        transform: rotate(45deg) translate(-6px, -5px);
    }

    .hamburger.activated .bar {
        opacity: 0;
    }

//header section//
header {
    height: 100vh;
    overflow: hidden;
    .hero {
        height: 90vh;
        .textContainer {
            width: 50%;
            padding-right: 2rem;
            h1 {
                @include fontStyling($secondaryFont, 2.5rem, 900);
                @include textStyling(0.1rem, 3.5rem, capitalize, none);
            }
            p {
                padding: 2rem 0;
            }
        }
        .imageContainer {
            width: 50%;
            img {
                transition: all 1s ease;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}
// reference for parallax: https://www.w3schools.com/howto/howto_css_parallax.asp
.parallax {
    background-image: url(../assets/header/background.png);
    height: 100%;
    background-attachment: fixed;
    @include bgImgStyling(center, cover, no-repeat);
}

//about section//
.aboutText {
    width: 45%;
    h2 {
    @include fontStyling(0, 1.25rem, 0);
    @include textStyling( 0, 0, capitalize, none);
    padding-bottom: 0.5rem;
}
    h3 {
        @include fontStyling (0, 2rem, 0);
        @include textStyling(0, 2.5rem, capitalize, none);
        padding: 1rem 0;
    }
    p {
        padding: 0.5rem 0;
    }
    button {
        margin-top: 1rem;
    }
}
.factContainer {
    width: 45%;
    align-self: flex-start;
    .aboutFact {
        @include fontStyling($secondaryFont, 1.5rem, 500);
        @include textStyling(0.075rem, 2rem, capitalize, none);
        @include colors($lightgreen, $white, none);
        @include boxModel(auto, auto, 5rem 2rem, none, 2rem, none);
    }
}

//shop section//
.productGallery {
    flex-wrap: wrap;
    li {
        max-width: 24%;
        margin-bottom: 3rem;
        position: relative;
        .imageContainer {
            width: 100%;
            font-size: 0;
        }
        .textContainer {
            @include boxModel(100%, auto, 0.75rem, 1.5px solid $lightgrey, none, none);
            background-color: $white;
            border-top: none;
            p {
                padding-top: 0.75rem;
            }
            .price {
                padding-bottom: 0.75rem;
                span {
                    text-decoration: line-through;
                }
            }
            button {
                position: absolute;
            }
        }
    }
}

.shopBtn {
    margin-top: 2.5rem;
    text-align: center;
}

//gallery section//
.gallery {
    background-image: url(../assets/grass.jpg);
    @include bgImgStyling(bottom, contain, no-repeat);
    .wrapper {
        text-align: center;
        .mainGallery {
            padding: 2rem 0 4rem 0;
            .row2 {
                li {
                    width: calc(50% - 5px);
                    margin: 5px;
                    overflow: hidden;
                }
            }
            .row3 {
                li {
                    width: calc((100% / 3) - 5px);
                    margin: 0 5px;
                    overflow: hidden;
                }
            }
            img {
                transition: all 1s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

//blog section//
.blog {
    @include colors($plantGreen, $white, none);
    .blogPost {
        @include colors($white, $black, 0 5px 8px rgba(0, 0, 0, 0.3));
        @include boxModel(32%, auto, 1rem, none, 6px, none);
        .imageContainer {
            width: 100%;
            img {
                border-radius: 4px;
            }
        }
        .textContainer {
            @include boxModel(100%, auto, 1rem 0, none, none, none);
            p {
                padding: 1rem 0;
            }
        }
    }
}

//footer section//
.footerCol {
    @include boxModel(25%, 42vh, none, none, none, none);
    h3 {
        padding-bottom: 2rem;
        @include textStyling(0.075rem, 1.5rem, 0, none);
    }
}
.first {
    padding-right: 2rem;
    }
    .imageContainer {
        width: 60%;
    } 
    .division {
        justify-content: space-evenly;
        nav ul li {
            margin-right: 1rem;
        }
    }
.second {
    padding-left: 1rem;
    nav ul {
        align-items: flex-start;
        height: 100%;
        a {
            transition: all 0.25s;
            &:hover {
                color: $lightgreen;
                font-weight: 600;
            }
        }
    }
}
.third .imageContainer {
    width: calc(100% / 3);
    }
.third .textContainer {
        @include boxModel(75%, auto, 0 0 0 1rem, none, none, none);
        p {
            padding: 0.5rem 0;
        }
        .item {
            @include fontStyling($secondaryFont, 0.8rem, 600);
            padding: 0;
        }
    }
.fourth {
    padding-left: 1.7rem;
    form {
        padding-top: 0.5rem;
        width: 100%;
        input[type=text] {
            @include boxModel(100%, auto, 1rem, $borderInput, 4px, none);
            outline: none;
            &:focus {
                border: 2px solid $lightgreen;
            }
            &::placeholder {
                font-size: 0.9rem;
            }
        }
    }
}
.footerImage {
    font-size: 0;
}
.copyright {
    @include colors($plantGreen, $white, none);
    font-size: 0.75rem;
    text-align: center;
    a {
        color: $white;
    }
}


    









