html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

//variables//

    //fonts
    $primaryFont: 'Barlow', sans-serif; 
    $secondaryFont: 'Lora', serif;

    //colors
    $plantGreen: #207200;
    $white: #fff;
    $black: #1A2428;

//mixins 
@mixin flexStyle($display, $flexDirection, $justifyContent, $alignItems) {
    display: $display;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin boxModel($width, $height, $padding, $border, $bRadius, $margin) {
    width: $width;
    height: $height;
    padding: $padding;
    border: $border;
    border-radius: $bRadius;
    margin: $margin;
}

@mixin colors($bgColor, $color, $boxShadow) {
    background-color: $bgColor;
    color: $color;
    box-shadow: $boxShadow;
}

@mixin fontStyling($fontFamily, $fontSize, $fontWeight) {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin textStyling($letterSpacing, $lineHeight, $textTransform, $textDeco) {
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
    text-transform: $textTransform;
    text-decoration: $textDeco
}

@mixin bgImgStyling($bgPosition, $bgSize, $bgRepeat) {
    background-position: $bgPosition;
    background-size: $bgSize;
    background-repeat: $bgRepeat;
}

//generic styles//
html {
    @include fontStyling($primaryFont, 18px, 400);
    color: $black;
}

//reusable code//
.wrapper {
    max-width: 1200px;
    @include boxModel(90%, auto, 5rem 0, none, none, 0 auto);
}

body, h1, h2, h3, h4, ul, p {
    padding: 0;
    margin: 0;
}

h2 {
    @include fontStyling($secondaryFont, 1.75rem, 700);
    @include textStyling (0, 2rem, uppercase, none);
}

h3 {
    @include fontStyling($secondaryFont, 1.1rem, 600);
    @include textStyling (0.025rem, 1.5rem, 0, none);
}

p {
    line-height: 1.6rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

img {
    width: 100%;
    object-fit: cover;
}

svg {
    @include boxModel(1.75rem, 1.75rem, 0.5rem, none, 2rem, 0 0 1rem 0);
    @include colors($plantGreen, 0, none);
}

.textContainer,
.imageContainer {
    width: 50%;
}

.sectionHeading {
    text-align: center;
}

.sectionHeading p {
    @include boxModel(60%, auto, 2.5rem, none, none, 0 auto);
}

.division {
    @include flexStyle(flex, column, space-between, flex-start);
    height: 80%;
}

button {
    @include colors($plantGreen, $white, 0 0 3px rgba(0, 0, 0, 0.3));
    @include boxModel(auto, auto, 0.75rem, none, 0.75rem, none);
    @include fontStyling($primaryFont, 0.8rem, 400);
    @include textStyling(0.05rem, 0, capitalize, none);
}

.btnVar2 {
    @include boxModel(auto, auto, 1rem, 0, 1rem, 0);
    @include fontStyling($primaryFont, 0.9rem, 500);
    @include textStyling (0, 0, uppercase, none);
}

.btnVar3 {
    @include boxModel(auto, auto, 1.25rem, 0, 1.5rem, 0 0.3rem);
    @include fontStyling(0, 0.9rem, 400);
}

.btnVar4 {
    @include boxModel(auto, auto, 1.6rem 2rem, 0, 2.25rem, 1rem 0 0 0);
    @include fontStyling(0, 0.9rem, 600);
}

.price {
    color: $plantGreen;
    font-weight: 600;
}

.flexRow {
    @include flexStyle(flex, row, space-between, center);
}

.flexColumn {
    @include flexStyle(flex, column, space-between, center);
}

//nagivation section//
header nav {
    height: 10vh;
    position: relative;
    @include colors($white, 0, 0 0 8px rgba(0, 0, 0, 0.25));
    .wrapper ul {
        text-transform: uppercase;
        font-weight: 600;      
        li {
            margin-left: 2rem;
            svg {
                all: revert;
                width: 1.75rem;
            }
        }
    }
    .hamburger {
        font-size: 1.5rem;
        color: $black;
        display: none;
    }
}

//header section//
header {
    height: 100vh;
    overflow: hidden;
}

.parallax {
    background-image: url(../assets/header/background.png);
    height: 100%;
    background-attachment: fixed;
    @include bgImgStyling(center, cover, no-repeat);
}

.hero {
    height: 90vh;
    .textContainer {
        padding-right: 2rem;
        h1 {
            @include fontStyling($secondaryFont, 2.5rem, 900);
            @include textStyling(0.1rem, 3.5rem, capitalize, none);
        }
        p {
            padding: 2rem 0;
        }
    }
}

    //zoom-in-zoom-out hover
.hero img {
    transition: all 1s ease;
}

.hero img:hover {
        transform: scale(1.2);
    }

    //animation for hero//
.animate {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: 100%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

//about section//
.about .wrapper {
    align-items: flex-start;
    .textContainer {
        h2 {
            @include fontStyling(0, 1.25rem, 0);
            @include textStyling( 0, 0, capitalize, none);
            padding-bottom: 0.5rem;
        }
        h3 {
            @include fontStyling (0, 2rem, 0);
            @include textStyling(0, 2.5rem, capitalize, none);
            padding: 1rem 0;
        }
        p {
            padding: 0.5rem 0;
        }
        button {
            margin-top: 1rem;
        }
    }
    .aboutText {
        padding-right: 3rem;
    }
    .textContainer .aboutFact {
        @include fontStyling($secondaryFont, 1.5rem, 500);
        @include textStyling(0.075rem, 2rem, capitalize, none);
        @include colors(#5EA85E, $white, none);
        @include boxModel(auto, auto, 5rem, none, 4rem, 0 0 0 2rem);
        
    }
}

//shop section//
.productGallery li {
    max-width: 24%;
    margin-bottom: 3rem;
    position: relative;
    .imageContainer {
        width: 100%;
        font-size: 0;
    }
    .textContainer {
        @include boxModel(100%, auto, 0.75rem, 1.5px solid #EAEAEA, none, none);
        background-color: $white;
        border-top: none;
        p {
            padding-top: 0.75rem;
        }
        .price {
            padding-bottom: 0.75rem;
            span {
                text-decoration: line-through;
            }
        }
        button {
            position: absolute;
        }
    }
}

.shopBtn {
    margin-top: 2.5rem;
    text-align: center;
}

//gallery section//
.gallery {
    background-image: url(../assets/grass.jpg);
    @include bgImgStyling(bottom, contain, no-repeat);
    .wrapper {
        text-align: center;
        .mainGallery {
            padding: 2rem 0 4rem 0;
            .col2 {
                li {
                    width: calc(50% - 5px);
                    margin: 5px;
                    overflow: hidden;
                }
            }
            .col3 {
                li {
                    width: calc((100% / 3) - 5px);
                    margin: 0 5px;
                    overflow: hidden;
                }
            }
        }
    }
}

    //zoom-in-and-out on hover//
.mainGallery img {
    transition: all 1s ease;
}

.mainGallery img:hover {
    transform: scale(1.1);
}

//blog section//
.blog {
    background-color: $plantGreen;
    color: white;
    .blogPost {
        @include colors($white, $black, 0 5px 8px rgba(0, 0, 0, 0.3));
        @include boxModel(32%, auto, 1rem, none, 6px, none);
        .imageContainer {
            width: 100%;
        }
        .textContainer {
            padding: 1rem 0;
            width: 100%;
            p {
                padding: 1rem 0;
            }
        }
    }
}

//footer section//
footer {
    background-image: url(../assets/cow.png);
    @include bgImgStyling(bottom, contain, no-repeat);
    .footerCol {
        width: 25%;
        height: 42vh;
        h3 {
            padding-bottom: 2rem;
            @include textStyling(0.075rem, 1.5rem, 0, none);
        }
    }
    .first {
        padding-right: 2rem;
        .imageContainer {
            height: 30%;
            img {
            filter: invert(24%) sepia(77%) saturate(4208%) hue-rotate(79deg) brightness(50%) contrast(101%);            
            }
        }
        .division {
            height: 70%;
            nav ul li {
                margin-right: 1rem;
            }
        }
    }
    .second {
        padding-left: 1rem;
        nav ul {
            align-items: flex-start;
                height: 100%;
            }
        }
    .third li {
        .imageContainer {
            width: calc(100% / 3);
            }
        .textContainer {
            width: 75%;
            padding-left: 1rem;
            p {
                padding: 0.5rem 0;
            }
            .item {
                @include fontStyling($secondaryFont, 0.8rem, 600);
                @include textStyling( 0, 0, 0rem, none);
            }
        }
    }
    .fourth {
        padding-left: 1.7rem;
        form {
            padding-top: 0.5rem;
            width: 100%;
            input[type=text] {
                @include boxModel(100%, auto, 1rem, 0.5px solid #BBBBBB, 4px, none);
                outline: none;
            }
            input::placeholder {
                color: $black;
                font-size: 0.9rem;
            }
        }
    }
    .copyright {
        color: $white;
        font-size: 0.75rem;
        text-align: center;
        a {
            color: $white;
        }
    }
}

///////////////////CONTACT PAGE/////////////////////

//header section//
.headerContact {
    height: 100%;
    .contactBanner {
    background-image: url(../assets/contact.jpg);
    @include bgImgStyling(center, cover, no-repeat);
    @include flexStyle(flex, row, center, center);
    height: 45vh;
        h2 {
            color: $white;
            text-transform: capitalize;
            @include fontStyling(0, 2rem, 500);
        }
    }
}

//contact section//
.contact {
    height: 100vh;
    display: flex;
    align-items: center;
}

.contact .wrapper {
    height: 100%;
    align-items: flex-start;
    .contactContainer {
        width: 48%;
        height: 80%;
        li {
            @include flexStyle(flex, column, center, flex-start);
            @include boxModel(auto, auto, 2.5rem 0 2.5rem 3.5rem, none, none, 0 0 3rem 0);
            box-shadow: 0 0 15px (rgba(121, 121, 121, 0.4));         
            border-left: 10px solid $plantGreen;
        }
    }
}
   
    









