html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

//variables//

    //fonts
    $primaryFont: 'Barlow', sans-serif; 
    $secondaryFont: 'Lora', serif;

//colors
    $plantGreen: #207200;
    $white: #fff;
    $black: #1A2428;

//mixins 

@mixin flexStyle($display, $flexDirection, $justifyContent, $alignItems) {
    display: $display;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin btnStyling($bgColor, $color, $padding, $bRadius, $border, $margin, $boxShadow) {
    background-color: $bgColor;
    color: $color;
    padding: $padding;
    border-radius: $bRadius;
    border: $border;
    margin: $margin;
    box-shadow: $boxShadow;
}

@mixin btnFontStyling($fontFamily, $fontSize, $fontWeight, $textTransform, $letterSpacing) {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    text-transform: $textTransform;
    letter-spacing: $letterSpacing;
}

@mixin bgImgStyling($bgPosition, $bgSize, $bgRepeat) {
    background-position: $bgPosition;
    background-size: $bgSize;
    background-repeat: $bgRepeat;
}

@mixin fontStyling($fontFamily, $fontSize, $fontWeight, $letterSpacing, $lineHeight) {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
}

//generic styles//
html {
    font-family: $primaryFont;
    color: $black;
    font-size: 125%;
}

body {
    margin: 0;
    padding: 0;
}

//reusable code//

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.6rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $black;
}

button {
    @include btnStyling($plantGreen, $white, 0.5rem 1rem, 1rem, none, 0, (0 0 2px rgba(0, 0, 0, 0.25)));
    @include btnFontStyling($primaryFont, 0.9rem, 500, uppercase, 0.05rem);
}

.btnVar2 {
    @include btnStyling(0, 0, 0.3rem 0.75rem, 0.75rem, 0, 0, 0);
    @include btnFontStyling(0, 0.8rem, 400, capitalize, 0);
}

.btnVar3 {
    @include btnStyling(0, 0, 0.75rem 1.5rem, 1.5rem, 0, 0, 0);
    @include btnFontStyling(0, 0.9rem, 400, capitalize, 0);
}

.btnVar4 {
    @include btnStyling(0, 0, 1.1rem 2.25rem, 2.25rem, 0, 0, 0);
    @include btnFontStyling(0, 0.9rem, 600, capitalize, 0);
}

.textContainer,
.imageContainer {
    width: 50%;
}

img {
    width: 100%;
    object-fit: cover;
}

//nagivation section//

nav {
    height: 10vh;
    color: $white;
    box-shadow: 0 0 7px (rgba(0, 0, 0, 0.25));
    @include flexStyle(flex, 0, 0, center);
    .wrapper {
        @include flexStyle(flex, 0, space-between, center);
        ul {
            @include flexStyle(flex, 0 , space-between, center);
            text-transform: uppercase;
            font-weight: 500;
            li {
                margin-left: 2rem;
            }
                svg {
                    width: 1.5rem;
                }
        }
    }
}

//header section//

header {
    height: 100vh;
}

.hero {
    @include flexStyle(flex, row, space-between, center);
    height: 90vh;
    background-image: url(../assets/header/background.png);
    @include bgImgStyling(center, cover, no-repeat);
    .wrapper {
        @include flexStyle(flex, row, space-between, center);
    }
    .textContainer {
        padding-right: 2rem;
        h1 {
            @include fontStyling($secondaryFont, 2.5rem, 900, 0.1rem, 3.5rem);
        }
        p {
            padding: 2rem 0;
        }
    }
}

//about section//

.about .wrapper {
    @include flexStyle(flex, 0, space-between, flex-start);
    padding: 5rem 0;
    .textContainer {
        h3 {
            @include fontStyling($secondaryFont, 2rem, 0, 0, 2.5rem);
            padding: 1rem 0;
        }
        p {
            padding: 0.5rem 0;
        }
        button {
            margin-top: 1rem;
        }
    }
    .aboutText {
        padding-right: 3rem;
    }
    .textContainer .aboutFact {
        @include fontStyling($secondaryFont, 1.5rem, 500, 0.075rem, 2rem);
        background-color: green; //figure out the right color here//
        color: $white;
        padding: 4rem;
        border-radius: 2rem;
        margin-left: 2rem;
    }
}

//shop section//

.productGallery {
    @include flexStyle(flex, row, space-between, center);
    flex-wrap: wrap;
    li {
        max-width: 275px;
        margin-bottom: 2rem;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        .imageContainer {
            width: 100%;
        }
    }
}

//gallery section//

//blog section//

//footer section//
